.tooling-apps-cache/app/2.http_connector/2.http_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="basics" doc:id="b93ef200-df1f-4d5e-aae2-cc8f019b482e" >
		<http:listener doc:name="HTTP GET" doc:id="f8c0aab0-5910-4160-bca0-08468e3105e1" config-ref="HTTP_Listener_config" path="/basics/*" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[vars.requestResponse]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Log START" doc:id="2b6c3200-7f46-4cc2-af39-eb6d56deec8a" message='#["log START -" ++ flow.name]'/>
		<set-payload value='#["this is the basic flow payload"]' doc:name="Set Payload" doc:id="dba2f34d-111d-4e2d-bf2b-14e329ef552e" />
		<set-variable value="#[{
&#10;	'param1' : 'value1',
&#10;	'param2' : '',
&#10;	'param3' : 'value3',
&#10;}]" doc:name="set query params" doc:id="c5094e3f-c0b1-45ee-8dbc-2c48473c27a8" variableName="customMap"/>
		<http:request method="GET" doc:name="Request" doc:id="0bd0f964-1e2c-49a1-af19-f47c71a24c54" config-ref="HTTP_Request_configuration" path="/queryParams" target="requestResponse">
			<http:query-params ><![CDATA[#[output application/java
---
{
	
	(k1: vars.customMap.param1) if (vars.customMap.param1 != null and vars.customMap.param1 != ''),
	(k2: vars.customMap.param2) if (vars.customMap.param2 != null and vars.customMap.param2 != ''),
	(k3: vars.customMap.param3) if (vars.customMap.param3 != null and vars.customMap.param3 != '')
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Log END" doc:id="6e1d8ec6-323d-4d93-84a8-059a7fddf3d6" message='#["log END -" ++ flow.name]'/>
	</flow>
	<flow name="uriParams" doc:id="7f4ff293-ffbf-42b4-b399-b3227cbe2e72" >
		<http:listener doc:name="HTTP GET" doc:id="311dd4a5-4b81-4ff9-8317-58a8445a643d" config-ref="HTTP_Listener_config" path="/uriParams/{ID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log START" doc:id="5425a5dd-ae20-46d2-9b8b-0d48ce2c3ae5" message='#["Log START - " ++ flow.name]' />
		<set-payload doc:name="Set Payload" doc:id="6bab8697-23a5-4218-af93-0fa96c2af388" value='#[attributes.uriParams."ID"]'/>
	</flow>
	<flow name="queryParams" doc:id="ef9b7bcd-ce26-47cd-be0b-cb2d32bae810" >
		<http:listener doc:name="HTTP GET" doc:id="af2e99cc-03fb-470a-853e-1d0870c8aaca" config-ref="HTTP_Listener_config" path="/queryParams" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log START" doc:id="28c4b442-c128-4f7a-a3fc-2cb108a5bf43" message='#["log START -" ++ flow.name]'/>
		<set-payload value="#[%dw 2.0
&#10;
&#10;output application/json
&#10;---
&#10;
&#10;attributes.queryParams]" doc:name="Set Payload" doc:id="b48a26cb-a615-4f86-8888-e74dab5a6352" />
	</flow>
</mule>